@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/fonts/BeVietnamPro-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/fonts/BeVietnamPro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/fonts/BeVietnamPro-SemiBold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/fonts/BeVietnamPro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* app colors */
:root {
  /* --clr-primary-100: color-mix(in srgb, var(--clr-primary-400), white 93%);
  --clr-primary-200: color-mix(in srgb, var(--clr-primary-400), white 80%);
  --clr-primary-400: #81b0ea;
  --clr-primary-600: color-mix(in srgb, var(--clr-primary-400), black 20%);

  --font-family: 'Be Vietnam Pro', sans-serif;

  --ff-body: var(--font-family);
  --ff-heading: var(--font-family);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem; */

  /* font-family: var(--font-family), system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell', 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; */
}
/* 
h1 {
  font-size: 2.75rem;
  font-weight: 200;
} */

/* Utility classes */

/* Text colors */
/* .text-primary-400 {
  color: var(--clr-primary-400);
}

.text-accent-200 {
  color: var(--clr-primary-200);
}

.text-accent-600 {
  color: var(--clr-primary-600);
} */

/* Background colors */
/* .bg-primary-400 {
  background-color: var(--clr-primary-400);
}

.bg-accent-200 {
  background-color: var(--clr-primary-200);
}

.bg-accent-600 {
  background-color: var(--clr-primary-600);
} */

/* Layout */
/* @media (min-width: 600px) and (max-width: 991px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
  }
} */
